In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\surface\Downloads\bank.csv",sep=";")

In [3]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [5]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [6]:
data.shape

(4521, 17)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
jack=LabelEncoder()

In [10]:
transform=["job","marital","education","default","housing","loan","contact","month","poutcome"]

In [11]:
for col in transform:
    data.loc[:,col]=jack.fit_transform(data.loc[:,col])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null int32
marital      4521 non-null int32
education    4521 non-null int32
default      4521 non-null int32
balance      4521 non-null int64
housing      4521 non-null int32
loan         4521 non-null int32
contact      4521 non-null int32
day          4521 non-null int64
month        4521 non-null int32
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null int32
y            4521 non-null object
dtypes: int32(9), int64(7), object(1)
memory usage: 441.6+ KB

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X=data.iloc[:,0:9]

In [15]:
X

      age  job  marital  education  default  balance  housing  loan  contact
0      30   10        1          0        0     1787        0     0        0
1      33    7        1          1        0     4789        1     1        0
2      35    4        2          2        0     1350        1     0        0
3      30    4        1          2        0     1476        1     1        2
4      59    1        1          1        0        0        1     0        2
...   ...  ...      ...        ...      ...      ...      ...   ...      ...
4516   33    7        1          1        0     -333        1     0        0
4517   57    6        1          2        1    -3313        1     1        2
4518   57    9        1          1        0      295        0     0        0
4519   28    1        1          1        0     1137        0     0        0
4520   44    2        2          2        0     1136        1     1        0

[4521 rows x 9 columns]

In [16]:
Y=data.loc[:,"y"]

In [17]:
Y

0       no
1       no
2       no
3       no
4       no
        ..
4516    no
4517    no
4518    no
4519    no
4520    no
Name: y, Length: 4521, dtype: object

In [18]:
train_X,test_X,train_Y,test_Y=train_test_split(X,Y,test_size=0.3)

In [19]:
train_X

      age  job  marital  education  default  balance  housing  loan  contact
2602   25    1        1          0        1     -589        1     0        2
1644   33    4        0          2        0        0        0     0        0
4102   31    4        1          2        0     1170        0     0        0
2179   51    9        1          2        0       -3        0     0        0
2286   30    9        2          1        0      790        0     0        0
...   ...  ...      ...        ...      ...      ...      ...   ...      ...
3640   34    1        1          0        0      428        1     0        0
1910   54    5        1          1        0     1139        1     0        0
1677   33    6        1          2        0      263        0     0        0
3382   37    1        1          3        0      897        1     0        0
1838   35    4        1          1        0      839        1     0        2

[3164 rows x 9 columns]

In [20]:
train_Y

2602    no
1644    no
4102    no
2179    no
2286    no
        ..
3640    no
1910    no
1677    no
3382    no
1838    no
Name: y, Length: 3164, dtype: object

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
jack=LogisticRegression()

In [23]:
jack.fit(train_X,train_Y)

C:\Users\surface\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
jack.predict(test_X)

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [25]:
Y_pred=jack.predict(test_X)

In [26]:
Y_pred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [27]:
from sklearn.metrics import classification_report

In [28]:
classification_report(test_Y,Y_pred)

C:\Users\surface\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

'              precision    recall  f1-score   support\n\n          no       0.88      1.00      0.94      1195\n         yes       0.00      0.00      0.00       162\n\n    accuracy                           0.88      1357\n   macro avg       0.44      0.50      0.47      1357\nweighted avg       0.78      0.88      0.82      1357\n'

In [29]:
print(classification_report(test_Y,Y_pred))

              precision    recall  f1-score   support

          no       0.88      1.00      0.94      1195
         yes       0.00      0.00      0.00       162

    accuracy                           0.88      1357
   macro avg       0.44      0.50      0.47      1357
weighted avg       0.78      0.88      0.82      1357

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(test_Y,Y_pred)

0.8806190125276345